h1, p{
  text-align: center;
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 3rem;
  
}
body{
  background-color: black;
}
img{
  border: 5px solid white;
  width: 100%;
  margin-top: 100px;
  
}
div{
  width: 50%;
  margin-left: 25%;
}
h1{
  text-transform: uppercase;
}